DROP PROCEDURE [dbo].[GetNextId]
GO
DROP PROCEDURE [dbo].[GenerateInsert]
GO
ALTER TABLE [dbo].[GeneralCodes] DROP CONSTRAINT [UQ_GeneralCodes_TypeNumber_Language]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notes]') AND type in (N'U'))
DROP TABLE [dbo].[Notes]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Leads]') AND type in (N'U'))
DROP TABLE [dbo].[Leads]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsuredCompanies]') AND type in (N'U'))
DROP TABLE [dbo].[InsuredCompanies]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdPool]') AND type in (N'U'))
DROP TABLE [dbo].[IdPool]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GeneralCodes]') AND type in (N'U'))
DROP TABLE [dbo].[GeneralCodes]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employees]') AND type in (N'U'))
DROP TABLE [dbo].[Employees]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CustomFieldValues]') AND type in (N'U'))
DROP TABLE [dbo].[CustomFieldValues]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CustomFieldOptions]') AND type in (N'U'))
DROP TABLE [dbo].[CustomFieldOptions]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CustomFieldGroups]') AND type in (N'U'))
DROP TABLE [dbo].[CustomFieldGroups]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CustomFieldDefinitions]') AND type in (N'U'))
DROP TABLE [dbo].[CustomFieldDefinitions]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contacts]') AND type in (N'U'))
DROP TABLE [dbo].[Contacts]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Companies]') AND type in (N'U'))
DROP TABLE [dbo].[Companies]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Assignments]') AND type in (N'U'))
DROP TABLE [dbo].[Assignments]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[Id] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[AssignmentTypeCode] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[OpeningEffecDate] [datetime] NULL,
	[ClosingEffecDate] [datetime] NULL,
	[OpeningRegDate] [datetime] NULL,
	[ClosingRegDate] [datetime] NULL,
	[OpeningRef] [int] NULL,
	[ClosingRef] [int] NULL,
	[ActiveFlag] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] NOT NULL,
	[IdTypeCode] [int] NOT NULL,
	[RegistrationNumber] [nvarchar](100) NOT NULL,
	[DunsNumber] [nvarchar](50) NULL,
	[VATNumber] [nvarchar](50) NULL,
	[RegistrationName] [nvarchar](100) NOT NULL,
	[TradeName] [nvarchar](100) NULL,
	[EnglishName] [nvarchar](100) NULL,
	[CompanyStatusCode] [int] NOT NULL,
	[BusinessFieldCode] [int] NOT NULL,
	[EntityTypeCode] [int] NOT NULL,
	[FoundingYear] [int] NULL,
	[CountryCode] [int] NOT NULL,
	[Website] [nvarchar](255) NULL,
	[StreetAddress] [nvarchar](200) NULL,
	[City] [nvarchar](100) NULL,
	[StateProvince] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[MobileNumber] [nvarchar](20) NULL,
	[FaxNumber] [nvarchar](20) NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[Remarks] [nvarchar](max) NULL,
	[LastReportDate] [datetime2](7) NULL,
	[LastReportName] [nvarchar](100) NULL,
	[OpeningEffectiveDate] [datetime2](7) NULL,
	[ClosingEffectiveDate] [datetime2](7) NULL,
	[OpeningRegDate] [datetime2](7) NULL,
	[ClosingRegDate] [datetime2](7) NULL,
	[OpeningRef] [nvarchar](50) NULL,
	[ClosingRef] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[ContactCode] [smallint] NULL,
	[PersonalID] [varchar](20) NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[CellNumber] [nvarchar](20) NULL,
	[FaxNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[Position] [nvarchar](100) NULL,
	[Department] [nvarchar](100) NULL,
	[Notes] [nvarchar](250) NULL,
	[OpeningEffecDate] [datetime] NULL,
	[ClosingEffecDate] [datetime] NULL,
	[OpeningRegDate] [datetime] NULL,
	[ClosingRegDate] [datetime] NULL,
	[OpeningRef] [int] NULL,
	[ClosingRef] [int] NULL,
	[ActiveFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomFieldDefinitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[FieldType] [nvarchar](20) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[DefaultValue] [nvarchar](max) NULL,
	[MinValue] [decimal](18, 6) NULL,
	[MaxValue] [decimal](18, 6) NULL,
	[MaxLength] [int] NULL,
	[Regex] [nvarchar](500) NULL,
	[GeneralCodeType] [int] NULL,
	[GroupId] [int] NULL,
	[GroupName] [nvarchar](50) NULL,
	[IsVisible] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_CustomFieldDefinitions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomFieldGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_CustomFieldGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomFieldOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FieldDefinitionId] [int] NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
	[DisplayText] [nvarchar](100) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_CustomFieldOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomFieldValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityId] [int] NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[FieldDefinitionId] [int] NOT NULL,
	[TextValue] [nvarchar](max) NULL,
	[NumberValue] [decimal](18, 6) NULL,
	[DateValue] [datetime2](7) NULL,
	[BooleanValue] [bit] NULL,
	[SelectedOptions] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_CustomFieldValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[UserID] [int] NOT NULL,
	[EmployeeID] [varchar](20) NOT NULL,
	[EmployeeName] [nvarchar](max) NOT NULL,
	[EmployeeNameEnglish] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[OpeningEffecDate] [datetime] NULL,
	[ClosingEffecDate] [datetime] NULL,
	[OpeningRegDate] [datetime] NOT NULL,
	[ClosingRegDate] [datetime] NULL,
	[ActiveFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodeType] [int] NOT NULL,
	[CodeNumber] [int] NOT NULL,
	[CodeShortDescription] [nvarchar](100) NOT NULL,
	[CodeLongDescription] [nvarchar](max) NULL,
	[LanguageCode] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdPool](
	[IdType] [int] NOT NULL,
	[EntityName] [varchar](255) NOT NULL,
	[NextId] [int] NOT NULL,
 CONSTRAINT [IdPoolPk] PRIMARY KEY CLUSTERED 
(
	[IdType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuredCompanies](
	[ID] [int] NOT NULL,
	[CompanyID] [int] NULL,
	[StatusCode] [smallint] NULL,
	[SizeCode] [smallint] NULL,
	[InsuranceEntryDate] [datetime] NULL,
	[OpeningEffecDate] [datetime] NULL,
	[ClosingEffecDate] [datetime] NULL,
	[OpeningRegDate] [datetime] NULL,
	[ClosingRegDate] [datetime] NULL,
	[OpeningRef] [int] NULL,
	[ClosingRef] [int] NULL,
	[ActiveFlag] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads](
	[LeadId] [int] NOT NULL,
	[LeadName] [nvarchar](255) NULL,
	[CompanyId] [int] NULL,
	[LeadTypeCode] [smallint] NULL,
	[LeadSourceCode] [smallint] NULL,
	[ContactId] [smallint] NULL,
	[CurrencyCode] [smallint] NULL,
	[MarketCode] [smallint] NULL,
	[AgentId] [smallint] NULL,
	[OwnerEmployeeId] [int] NULL,
	[Probability] [smallint] NULL,
	[Score] [smallint] NULL,
	[Employees] [smallint] NULL,
	[ActualSalesValue] [decimal](18, 2) NULL,
	[SalesGapValue] [decimal](18, 2) NULL,
	[ActivityExpansion] [nvarchar](max) NULL,
	[ExportMarketValue] [decimal](18, 2) NULL,
	[LocalMarketValue] [decimal](18, 2) NULL,
	[ExportRatio] [decimal](18, 2) NULL,
	[Region] [nvarchar](255) NULL,
	[CurrentInsurerNo] [nvarchar](255) NULL,
	[ExternalStartDate] [date] NULL,
	[StatusCode] [nvarchar](50) NULL,
	[ReasonRejectionCode] [smallint] NULL,
	[RejectionDetail] [nvarchar](max) NULL,
	[Notes] [nvarchar](250) NULL,
	[AdditionalInfo] [nvarchar](max) NULL,
	[OpeningEffectiveDate] [datetime] NULL,
	[ClosingEffectiveDate] [datetime] NULL,
	[OpeningRegistrationDate] [datetime] NULL,
	[ClosingRegistrationDate] [datetime] NULL,
	[OpeningReference] [int] NULL,
	[ClosingReference] [int] NULL,
	[ActiveFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LeadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CompanyId] [int] NOT NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[IDNumber] [nvarchar](20) NULL,
	[PasswordExpiryDate] [date] NULL,
	[IsBlocked] [bit] NOT NULL,
	[LoginAttempts] [int] NOT NULL,
	[PreferredLanguageCode] [int] NULL,
	[IsInactiveFlag] [bit] NOT NULL,
	[TermsOfUseSignature] [nvarchar](255) NULL,
	[TermsOfUseSignatureDate] [date] NULL,
	[MobileNumber] [nvarchar](20) NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastUpdateRecDate] [datetime] NULL,
	[ActiveFlag] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustomFieldDefinitions] ON 

INSERT [dbo].[CustomFieldDefinitions] ([Id], [EntityType], [Name], [DisplayName], [Description], [FieldType], [IsRequired], [IsActive], [SortOrder], [DefaultValue], [MinValue], [MaxValue], [MaxLength], [Regex], [GeneralCodeType], [GroupId], [GroupName], [IsVisible], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (1, N'lead', N'industrySubCategory', N'Industry Sub-Category', N'More specific industry categorization', N'text', 0, 1, 10, NULL, NULL, NULL, NULL, NULL, NULL, 1, N'Industry Information', 1, CAST(N'2025-06-03T13:01:05.2300000' AS DateTime2), NULL, 1, NULL)
INSERT [dbo].[CustomFieldDefinitions] ([Id], [EntityType], [Name], [DisplayName], [Description], [FieldType], [IsRequired], [IsActive], [SortOrder], [DefaultValue], [MinValue], [MaxValue], [MaxLength], [Regex], [GeneralCodeType], [GroupId], [GroupName], [IsVisible], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (2, N'lead', N'annualRevenue', N'Annual Revenue', N'Company annual revenue', N'number', 0, 1, 20, NULL, NULL, NULL, NULL, NULL, NULL, 2, N'Financial Details', 1, CAST(N'2025-06-03T13:01:05.2300000' AS DateTime2), NULL, 1, NULL)
INSERT [dbo].[CustomFieldDefinitions] ([Id], [EntityType], [Name], [DisplayName], [Description], [FieldType], [IsRequired], [IsActive], [SortOrder], [DefaultValue], [MinValue], [MaxValue], [MaxLength], [Regex], [GeneralCodeType], [GroupId], [GroupName], [IsVisible], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (3, N'lead', N'employeeCount', N'Number of Employees', N'Total number of employees', N'number', 0, 1, 30, NULL, NULL, NULL, NULL, NULL, NULL, 3, N'Company Details', 1, CAST(N'2025-06-03T13:01:05.2300000' AS DateTime2), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[CustomFieldDefinitions] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomFieldGroups] ON 

INSERT [dbo].[CustomFieldGroups] ([Id], [EntityType], [Name], [DisplayName], [Description], [SortOrder], [IsActive], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (1, N'lead', N'IndustryInformation', N'Industry Information', N'Fields related to industry details', 10, 1, CAST(N'2025-06-03T13:01:05.1733333' AS DateTime2), NULL, 1, NULL)
INSERT [dbo].[CustomFieldGroups] ([Id], [EntityType], [Name], [DisplayName], [Description], [SortOrder], [IsActive], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (2, N'lead', N'FinancialDetails', N'Financial Details', N'Fields related to financial information', 20, 1, CAST(N'2025-06-03T13:01:05.1733333' AS DateTime2), NULL, 1, NULL)
INSERT [dbo].[CustomFieldGroups] ([Id], [EntityType], [Name], [DisplayName], [Description], [SortOrder], [IsActive], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (3, N'lead', N'CompanyDetails', N'Company Details', N'General company information', 30, 1, CAST(N'2025-06-03T13:01:05.1733333' AS DateTime2), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[CustomFieldGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomFieldOptions] ON 

INSERT [dbo].[CustomFieldOptions] ([Id], [FieldDefinitionId], [Value], [DisplayText], [SortOrder], [IsActive], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (1, 5, N'email', N'Email', 10, 1, CAST(N'2025-06-03T13:01:05.2466667' AS DateTime2), NULL, 1, NULL)
INSERT [dbo].[CustomFieldOptions] ([Id], [FieldDefinitionId], [Value], [DisplayText], [SortOrder], [IsActive], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (2, 5, N'phone', N'Phone', 20, 1, CAST(N'2025-06-03T13:01:05.2466667' AS DateTime2), NULL, 1, NULL)
INSERT [dbo].[CustomFieldOptions] ([Id], [FieldDefinitionId], [Value], [DisplayText], [SortOrder], [IsActive], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (3, 5, N'in-person', N'In-Person Meeting', 30, 1, CAST(N'2025-06-03T13:01:05.2466667' AS DateTime2), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[CustomFieldOptions] OFF
GO
INSERT [dbo].[Employees] ([UserID], [EmployeeID], [EmployeeName], [EmployeeNameEnglish], [PhoneNumber], [Email], [OpeningEffecDate], [ClosingEffecDate], [OpeningRegDate], [ClosingRegDate], [ActiveFlag]) VALUES (1, N'234', N'אופיר אפק', N'Ophir Afek', N'0527345535', N'', CAST(N'2025-05-04T15:51:45.947' AS DateTime), CAST(N'9999-12-31T23:59:59.997' AS DateTime), CAST(N'2025-05-04T15:51:45.947' AS DateTime), CAST(N'9999-12-31T23:59:59.997' AS DateTime), 1)
INSERT [dbo].[Employees] ([UserID], [EmployeeID], [EmployeeName], [EmployeeNameEnglish], [PhoneNumber], [Email], [OpeningEffecDate], [ClosingEffecDate], [OpeningRegDate], [ClosingRegDate], [ActiveFlag]) VALUES (2, N'678', N'קובי בריאנט', N'Cobe Bryant', N'', N'', CAST(N'2025-05-05T10:02:34.033' AS DateTime), CAST(N'9999-12-31T23:59:59.997' AS DateTime), CAST(N'2025-05-05T10:02:34.033' AS DateTime), CAST(N'9999-12-31T23:59:59.997' AS DateTime), 1)
INSERT [dbo].[Employees] ([UserID], [EmployeeID], [EmployeeName], [EmployeeNameEnglish], [PhoneNumber], [Email], [OpeningEffecDate], [ClosingEffecDate], [OpeningRegDate], [ClosingRegDate], [ActiveFlag]) VALUES (3, N'6789', N'לברון ג''יימס', N'Lebron James', N'', N'', CAST(N'2025-05-05T10:03:45.467' AS DateTime), CAST(N'9999-12-31T23:59:59.997' AS DateTime), CAST(N'2025-05-05T10:03:45.467' AS DateTime), CAST(N'9999-12-31T23:59:59.997' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[GeneralCodes] ON 

INSERT [dbo].[GeneralCodes] ([Id], [CodeType], [CodeNumber], [CodeShortDescription], [CodeLongDescription], [LanguageCode], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (1, 1, 100, N'ERR_CONN', N'Connection error occurred while attempting to connect to the server', 1, CAST(N'2025-04-03T14:45:07.630' AS DateTime), CAST(N'2025-04-29T20:25:32.057' AS DateTime), 1)
INSERT [dbo].[GeneralCodes] ([Id], [CodeType], [CodeNumber], [CodeShortDescription], [CodeLongDescription], [LanguageCode], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (2, 1, 101, N'ERR_AUTH', N'Authentication failed due to invalid credentials', 1, CAST(N'2025-04-03T14:45:07.630' AS DateTime), NULL, 1)
INSERT [dbo].[GeneralCodes] ([Id], [CodeType], [CodeNumber], [CodeShortDescription], [CodeLongDescription], [LanguageCode], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (3, 1, 102, N'ERR_TIMEOUT', N'Operation timed out after waiting for response', 1, CAST(N'2025-04-03T14:45:07.630' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[GeneralCodes] OFF
GO
INSERT [dbo].[IdPool] ([IdType], [EntityName], [NextId]) VALUES (1, N'Company', 10)
INSERT [dbo].[IdPool] ([IdType], [EntityName], [NextId]) VALUES (2, N'Contact', 2)
INSERT [dbo].[IdPool] ([IdType], [EntityName], [NextId]) VALUES (3, N'Lead', 6)
GO
INSERT [dbo].[Users] ([Id], [Username], [IDNumber], [PasswordExpiryDate], [IsBlocked], [LoginAttempts], [PreferredLanguageCode], [IsInactiveFlag], [TermsOfUseSignature], [TermsOfUseSignatureDate], [MobileNumber], [CreateDate], [LastUpdateRecDate], [ActiveFlag]) VALUES (1, N'admin', N'01234567', CAST(N'2025-07-28' AS Date), 0, 0, 0, 0, N'', CAST(N'0001-01-01' AS Date), N'', CAST(N'2025-04-29T18:21:17.577' AS DateTime), NULL, 1)
INSERT [dbo].[Users] ([Id], [Username], [IDNumber], [PasswordExpiryDate], [IsBlocked], [LoginAttempts], [PreferredLanguageCode], [IsInactiveFlag], [TermsOfUseSignature], [TermsOfUseSignatureDate], [MobileNumber], [CreateDate], [LastUpdateRecDate], [ActiveFlag]) VALUES (2, N'john', N'78437249', CAST(N'2025-08-05' AS Date), 0, 0, 2, 0, N'', CAST(N'0001-01-01' AS Date), N'', CAST(N'2025-05-05T10:02:24.543' AS DateTime), NULL, 1)
INSERT [dbo].[Users] ([Id], [Username], [IDNumber], [PasswordExpiryDate], [IsBlocked], [LoginAttempts], [PreferredLanguageCode], [IsInactiveFlag], [TermsOfUseSignature], [TermsOfUseSignatureDate], [MobileNumber], [CreateDate], [LastUpdateRecDate], [ActiveFlag]) VALUES (3, N'lebron', N'78149323', CAST(N'2025-08-05' AS Date), 0, 0, 1, 0, N'', CAST(N'0001-01-01' AS Date), N'', CAST(N'2025-05-05T10:03:41.707' AS DateTime), NULL, 1)
GO
ALTER TABLE [dbo].[GeneralCodes] ADD  CONSTRAINT [UQ_GeneralCodes_TypeNumber_Language] UNIQUE NONCLUSTERED 
(
	[CodeType] ASC,
	[CodeNumber] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GenerateInsert]
(
  @ObjectName nvarchar(261)
, @TargetObjectName nvarchar(261) = NULL
, @OmmitInsertColumnList bit = 0
, @GenerateSingleInsertPerRow bit = 0
, @UseSelectSyntax bit = 0
, @UseColumnAliasInSelect bit = 0
, @FormatCode bit = 1
, @GenerateOneColumnPerLine bit = 0
, @GenerateGo bit = 0
, @PrintGeneratedCode bit = 1
, @TopExpression nvarchar(max) = NULL
, @FunctionParameters nvarchar(max) = NULL
, @SearchCondition nvarchar(max) = NULL
, @OrderByExpression nvarchar(max) = NULL
, @OmmitUnsupportedDataTypes bit = 1
, @PopulateIdentityColumn bit = 0
, @PopulateTimestampColumn bit = 0
, @PopulateComputedColumn bit = 0
, @GenerateProjectInfo bit = 1
, @GenerateSetNoCount bit = 1
, @GenerateStatementTerminator bit = 1
, @ShowWarnings bit = 1
, @Debug bit = 0
)
AS
/*******************************************************************************
Procedure: GenerateInsert (Build 6)
Decription: Generates INSERT statement(s) for data in a table.
Purpose: To regenerate data at another location.
  To script data populated in automated way.
  To script setup data populated in automated/manual way.
Project page: http://github.com/drumsta/sql-generate-insert

Arguments:
  @ObjectName nvarchar(261)
    Format: [schema_name.]object_name
    Specifies the name of a table or view to generate the INSERT statement(s) for
  @TargetObjectName nvarchar(261) = NULL
    Specifies the name of target table or view to insert into
  @OmmitInsertColumnList bit = 0
    When 0 then syntax is like INSERT INTO object (column_list)...
    When 1 then syntax is like INSERT INTO object...
  @GenerateSingleInsertPerRow bit = 0
    When 0 then only one INSERT statement is generated for all rows
    When 1 then separate INSERT statement is generated for every row
  @UseSelectSyntax bit = 0
    When 0 then syntax is like INSERT INTO object (column_list) VALUES(...)
    When 1 then syntax is like INSERT INTO object (column_list) SELECT...
  @UseColumnAliasInSelect bit = 0
    Has effect only when @UseSelectSyntax = 1
    When 0 then syntax is like SELECT 'value1','value2'
    When 1 then syntax is like SELECT 'value1' column1,'value2' column2
  @FormatCode bit = 1
    When 0 then no Line Feeds are generated
    When 1 then additional Line Feeds are generated for better readibility
  @GenerateOneColumnPerLine bit = 0
    When 0 then syntax is like SELECT 'value1','value2'...
      or VALUES('value1','value2')...
    When 1 then syntax is like
         SELECT
         'value1'
         ,'value2'
         ...
      or VALUES(
         'value1'
         ,'value2'
         )...
  @GenerateGo bit = 0
    When 0 then no GO commands are generated
    When 1 then GO commands are generated after each INSERT
  @PrintGeneratedCode bit = 1
    When 0 then generated code will be printed using PRINT command
    When 1 then generated code will be selected using SELECT statement 
  @TopExpression nvarchar(max) = NULL
    When supplied then INSERT statements are generated only for TOP rows
    Format: (expression) [PERCENT]
    Example: @TopExpression='(5)' is equivalent to SELECT TOP (5)
    Example: @TopExpression='(50) PERCENT' is equivalent to SELECT TOP (5) PERCENT
  @FunctionParameters nvarchar(max) = NULL
    When @ObjectName is type of Table-Valued User-Defined function or Inline User-Defined function
      then @FunctionParameters should be supplied to pass to function.
    One or more parameters can be specified.
    Example: @FunctionParameters='(1)' is equivalent to SELECT * FROMN ObjectName(1)
  @SearchCondition nvarchar(max) = NULL
    When supplied then specifies the search condition for the rows returned by the query
    Format: <search_condition>
    Example: @SearchCondition='column1 != ''test''' is equivalent to WHERE column1 != 'test'
  @OrderByExpression nvarchar(max) = NULL
    When supplied then sorts data returned by a query. The parameter doesn't apply to the ranking function like ROW_NUMBER, RANK, DENSE_RANK, and NTILE.
    Format: <order_by_expression>
    Example: @OrderByExpression='DATEPART(year, HireDate) DESC, LastName DESC COLLATE Latin1_General_CS_AS'
  @OmmitUnsupportedDataTypes bit = 1
    When 0 then error is raised on unsupported data types
    When 1 then columns with unsupported data types are excluded from generation process
  @PopulateIdentityColumn bit = 1
    When 0 then identity columns are excluded from generation process
    When 1 then identity column values are preserved on insertion
  @PopulateTimestampColumn bit = 0
    When 0 then rowversion/timestamp column is inserted using DEFAULT value
    When 1 then rowversion/timestamp column values are preserved on insertion,
      useful when restoring into archive table as varbinary(8) to preserve history
  @PopulateComputedColumn bit = 0
    When 0 then computed columns are excluded from generation process
    When 1 then computed column values are preserved on insertion,
      useful when restoring into archive table as scalar values to preserve history
  @GenerateProjectInfo bit = 1
    When 0 then no spam is generated at all.
    When 1 then short comments are generated, i.e. SP build number and project page.
  @GenerateSetNoCount bit = 1
    When 0 then no SET NOCOUNT ON is generated at the beginning.
    When 1 then SET NOCOUNT ON is generated at the beginning.
  @GenerateStatementTerminator bit = 1
    When 0 then each statement is not separated by semicolon (;).
    When 1 then semicolon (;) is generated at the end of each statement.
  @ShowWarnings bit = 1
    When 0 then no warnings are printed.
    When 1 then warnings are printed if columns with unsupported data types
      have been excluded from generation process
    Has effect only when @OmmitUnsupportedDataTypes = 1
  @Debug bit = 0
    When 0 then no debug information are printed.
    When 1 then constructed SQL statements are printed for later examination
*******************************************************************************/
BEGIN
SET NOCOUNT ON;

DECLARE @CrLf char(2)
SET @CrLf = CHAR(13) + CHAR(10);
DECLARE @ColumnName sysname;
DECLARE @DataType sysname;
DECLARE @ColumnList nvarchar(max);
SET @ColumnList = N'';
DECLARE @SelectList nvarchar(max);
SET @SelectList = N'';
DECLARE @SelectStatement nvarchar(max);
SET @SelectStatement = N'';
DECLARE @OmittedColumnList nvarchar(max);
SET @OmittedColumnList = N'';
DECLARE @InsertSql nvarchar(max);
SET @InsertSql = N'INSERT INTO ' + COALESCE(@TargetObjectName,@ObjectName);
DECLARE @ValuesSql nvarchar(max);
SET @ValuesSql = N'VALUES (';
DECLARE @SelectSql nvarchar(max);
SET @SelectSql = N'SELECT ';
DECLARE @TableData table (TableRow nvarchar(max));
DECLARE @Results table (TableRow nvarchar(max));
DECLARE @TableRow nvarchar(max);
DECLARE @RowNo int;

IF PARSENAME(@ObjectName,3) IS NOT NULL
  OR PARSENAME(@ObjectName,4) IS NOT NULL
BEGIN
  RAISERROR(N'Server and database names are not allowed to specify in @ObjectName parameter. Required format is [schema_name.]object_name',16,1);
  RETURN -1;
END

IF OBJECT_ID(@ObjectName,N'U') IS NULL -- USER_TABLE
  AND OBJECT_ID(@ObjectName,N'V') IS NULL -- VIEW
  AND OBJECT_ID(@ObjectName,N'IF') IS NULL -- SQL_INLINE_TABLE_VALUED_FUNCTION
  AND OBJECT_ID(@ObjectName,N'TF') IS NULL -- SQL_TABLE_VALUED_FUNCTION
BEGIN
  RAISERROR(N'User table, view, table-valued or inline function %s not found or insuficient permission to query the provided object.',16,1,@ObjectName);
  RETURN -1;
END

IF NOT EXISTS (
  SELECT 1
  FROM INFORMATION_SCHEMA.TABLES
  WHERE TABLE_TYPE IN ('BASE TABLE','VIEW')
    AND TABLE_NAME = PARSENAME(@ObjectName,1)
    AND (TABLE_SCHEMA = PARSENAME(@ObjectName,2)
      OR PARSENAME(@ObjectName,2) IS NULL)
) AND NOT EXISTS (
  SELECT *
  FROM INFORMATION_SCHEMA.ROUTINES
  WHERE ROUTINE_TYPE IN ('FUNCTION')
    AND DATA_TYPE = 'TABLE'
    AND SPECIFIC_NAME = PARSENAME(@ObjectName,1)
    AND (SPECIFIC_SCHEMA = PARSENAME(@ObjectName,2)
      OR PARSENAME(@ObjectName,2) IS NULL)
)
BEGIN
  RAISERROR(N'User table, view, table-valued or inline function %s not found or insuficient permission to query the provided object.',16,1,@ObjectName);
  RETURN -1;
END

DECLARE ColumnCursor CURSOR LOCAL FAST_FORWARD FOR
SELECT c.name ColumnName
,COALESCE(TYPE_NAME(c.system_type_id),t.name) DataType
FROM sys.objects o
  INNER JOIN sys.columns c ON c.object_id = o.object_id
  LEFT JOIN sys.types t ON t.system_type_id = c.system_type_id
    AND t.user_type_id = c.user_type_id
WHERE o.type IN (N'U',N'V',N'IF',N'TF')
  -- U = USER_TABLE
  -- V = VIEW
  -- IF = SQL_INLINE_TABLE_VALUED_FUNCTION
  -- TF = SQL_TABLE_VALUED_FUNCTION
  AND (o.object_id = OBJECT_ID(@ObjectName)
    OR o.name = @ObjectName)
  AND (COLUMNPROPERTY(c.object_id,c.name,'IsIdentity') != 1
    OR @PopulateIdentityColumn = 1)
  AND (COLUMNPROPERTY(c.object_id,c.name,'IsComputed') != 1
    OR @PopulateComputedColumn = 1)
ORDER BY COLUMNPROPERTY(c.object_id,c.name,'ordinal') -- ORDINAL_POSITION
FOR READ ONLY
;
OPEN ColumnCursor;
FETCH NEXT FROM ColumnCursor INTO @ColumnName,@DataType;

WHILE @@FETCH_STATUS = 0
BEGIN
  -- Handle different data types
  DECLARE @ColumnExpression nvarchar(max);
  SET @ColumnExpression = 
    CASE
    WHEN @DataType IN ('char','varchar','text','uniqueidentifier')
    THEN N'ISNULL(''''''''+REPLACE(CONVERT(varchar(max),'+  QUOTENAME(@ColumnName) + N'),'''''''','''''''''''')+'''''''',''NULL'') COLLATE database_default'
      
    WHEN @DataType IN ('nchar','nvarchar','sysname','ntext','sql_variant','xml')
    THEN N'ISNULL(''N''''''+REPLACE(CONVERT(nvarchar(max),'+  QUOTENAME(@ColumnName) + N'),'''''''','''''''''''')+'''''''',''NULL'') COLLATE database_default'
      
    WHEN @DataType IN ('int','bigint','smallint','tinyint','decimal','numeric','bit')
    THEN N'ISNULL(CONVERT(varchar(max),'+  QUOTENAME(@ColumnName) + N'),''NULL'') COLLATE database_default'
      
    WHEN @DataType IN ('float','real','money','smallmoney')
    THEN N'ISNULL(CONVERT(varchar(max),'+  QUOTENAME(@ColumnName) + N',2),''NULL'') COLLATE database_default'
      
    WHEN @DataType IN ('datetime','smalldatetime','date','time','datetime2','datetimeoffset')
    THEN N'''CONVERT('+@DataType+',''+ISNULL(''''''''+CONVERT(varchar(max),'+  QUOTENAME(@ColumnName) + N',121)+'''''''',''NULL'') COLLATE database_default' + '+'',121)'''

    WHEN @DataType IN ('rowversion','timestamp')
    THEN
      CASE WHEN @PopulateTimestampColumn = 1
      THEN N'''CONVERT(varbinary(max),''+ISNULL(''''''''+CONVERT(varchar(max),CONVERT(varbinary(max),'+  QUOTENAME(@ColumnName) + N'),1)+'''''''',''NULL'') COLLATE database_default' + '+'',1)'''
      ELSE N'''NULL''' END

    WHEN @DataType IN ('binary','varbinary','image')
    THEN N'''CONVERT(varbinary(max),''+ISNULL(''''''''+CONVERT(varchar(max),CONVERT(varbinary(max),'+  QUOTENAME(@ColumnName) + N'),1)+'''''''',''NULL'') COLLATE database_default' + '+'',1)'''

    WHEN @DataType IN ('geography')
    -- convert geography to text: ?? column.STAsText();
    -- convert text to geography: ?? geography::STGeomFromText('LINESTRING(-122.360 47.656, -122.343 47.656 )', 4326);
    THEN NULL

    ELSE NULL END;

  IF @ColumnExpression IS NULL
    AND @OmmitUnsupportedDataTypes != 1
  BEGIN
    RAISERROR(N'Datatype %s is not supported. Use @OmmitUnsupportedDataTypes to exclude unsupported columns.',16,1,@DataType);
    RETURN -1;
  END

  IF @ColumnExpression IS NULL
  BEGIN
    SET @OmittedColumnList = @OmittedColumnList
      + CASE WHEN @OmittedColumnList != N'' THEN N'; ' ELSE N'' END
      + N'column ' + QUOTENAME(@ColumnName)
      + N', datatype ' + @DataType;
  END

  IF @ColumnExpression IS NOT NULL
  BEGIN
    SET @ColumnList = @ColumnList
      + CASE WHEN @ColumnList != N'' THEN N',' ELSE N'' END
      + QUOTENAME(@ColumnName)
      + CASE WHEN @GenerateOneColumnPerLine = 1 THEN @CrLf ELSE N'' END;
  
    SET @SelectList = @SelectList
      + CASE WHEN @SelectList != N'' THEN N'+'',''+' + @CrLf ELSE N'' END
      + @ColumnExpression
      + CASE WHEN @UseColumnAliasInSelect = 1 AND @UseSelectSyntax = 1 THEN N'+'' ' + QUOTENAME(@ColumnName) + N'''' ELSE N'' END
      + CASE WHEN @GenerateOneColumnPerLine = 1 THEN N'+CHAR(13)+CHAR(10)' ELSE N'' END;
  END

  FETCH NEXT FROM ColumnCursor INTO @ColumnName,@DataType;
END

CLOSE ColumnCursor;
DEALLOCATE ColumnCursor;

IF NULLIF(@ColumnList,N'') IS NULL
BEGIN
  RAISERROR(N'No columns to select.',16,1);
  RETURN -1;
END

IF @Debug = 1
BEGIN
  PRINT(N'--Column list');
  PRINT(@ColumnList);
END

IF NULLIF(@OmittedColumnList,'') IS NOT NULL
  AND @ShowWarnings = 1
BEGIN
  PRINT(N'--*************************');
  PRINT(N'--WARNING: The following columns have been omitted because of unsupported datatypes: ' + @OmittedColumnList);
  PRINT(N'--*************************');
END

IF @GenerateSingleInsertPerRow = 1
BEGIN
  SET @SelectList = 
    N'''' + @InsertSql + N'''+' + @CrLf
    + CASE WHEN @FormatCode = 1
      THEN N'CHAR(13)+CHAR(10)+' + @CrLf
      ELSE N''' ''+'
      END
    + CASE WHEN @OmmitInsertColumnList = 1
      THEN N''
      ELSE N'''(' + @ColumnList + N')''+' + @CrLf
      END
    + CASE WHEN @FormatCode = 1
      THEN N'CHAR(13)+CHAR(10)+' + @CrLf
      ELSE N''' ''+'
      END
    + CASE WHEN @UseSelectSyntax = 1
      THEN N'''' + @SelectSql + N'''+'
      ELSE N'''' + @ValuesSql + N'''+'
      END
    + @CrLf
    + @SelectList
    + CASE WHEN @UseSelectSyntax = 1
      THEN N''
      ELSE N'+' + @CrLf + N''')'''
      END
    + CASE WHEN @GenerateStatementTerminator = 1
      THEN N'+'';'''
      ELSE N''
      END
    + CASE WHEN @GenerateGo = 1
      THEN N'+' + @CrLf + N'CHAR(13)+CHAR(10)+' + @CrLf + N'''GO'''
      ELSE N''
      END
  ;
END ELSE BEGIN
  SET @SelectList =
    CASE WHEN @UseSelectSyntax = 1
      THEN N'''' + @SelectSql + N'''+'
      ELSE N'''(''+'
      END
    + @CrLf
    + @SelectList
    + CASE WHEN @UseSelectSyntax = 1
      THEN N''
      ELSE N'+' + @CrLf + N''')'''
      END
  ;
END

SET @SelectStatement = N'SELECT'
  + CASE WHEN NULLIF(@TopExpression,N'') IS NOT NULL
    THEN N' TOP ' + @TopExpression
    ELSE N'' END
  + @CrLf + @SelectList + @CrLf
  + N'FROM ' + @ObjectName
  + CASE WHEN NULLIF(@FunctionParameters,N'') IS NOT NULL
    THEN @FunctionParameters
    ELSE N'' END
  + CASE WHEN NULLIF(@SearchCondition,N'') IS NOT NULL
    THEN @CrLf + N'WHERE ' + @SearchCondition
    ELSE N'' END
  + CASE WHEN NULLIF(@OrderByExpression,N'') IS NOT NULL
    THEN @CrLf + N'ORDER BY ' + @OrderByExpression
    ELSE N'' END
  + @CrLf + N';' + @CrLf + @CrLf
;

IF @Debug = 1
BEGIN
  PRINT(@CrLf + N'--Select statement');
  PRINT(@SelectStatement);
END

INSERT INTO @TableData
EXECUTE (@SelectStatement);

IF @GenerateProjectInfo = 1
BEGIN
  INSERT INTO @Results
  SELECT N'--INSERTs generated by GenerateInsert (Build 6)'
  UNION SELECT N'--Project page: http://github.com/drumsta/sql-generate-insert'
END

IF @GenerateSetNoCount = 1
BEGIN
  INSERT INTO @Results
  SELECT N'SET NOCOUNT ON'
END

IF @PopulateIdentityColumn = 1
BEGIN
  INSERT INTO @Results
  SELECT N'SET IDENTITY_INSERT ' + COALESCE(@TargetObjectName,@ObjectName) + N' ON'
END

IF @GenerateSingleInsertPerRow = 1
BEGIN
  INSERT INTO @Results
  SELECT TableRow
  FROM @TableData
END ELSE BEGIN
  IF @FormatCode = 1
  BEGIN
    INSERT INTO @Results
    SELECT @InsertSql;

    IF @OmmitInsertColumnList != 1
    BEGIN
      INSERT INTO @Results
      SELECT N'(' + @ColumnList + N')';
    END

    IF @UseSelectSyntax != 1
    BEGIN
      INSERT INTO @Results
      SELECT N'VALUES';
    END
  END ELSE BEGIN
    INSERT INTO @Results
    SELECT @InsertSql
      + CASE WHEN @OmmitInsertColumnList = 1 THEN N'' ELSE N' (' + @ColumnList + N')' END
      + CASE WHEN @UseSelectSyntax = 1 THEN N'' ELSE N' VALUES' END
  END

  SET @RowNo = 0;
  DECLARE DataCursor CURSOR LOCAL FAST_FORWARD FOR
  SELECT TableRow
  FROM @TableData
  FOR READ ONLY
  ;
  OPEN DataCursor;
  FETCH NEXT FROM DataCursor INTO @TableRow;

  WHILE @@FETCH_STATUS = 0
  BEGIN
    SET @RowNo = @RowNo + 1;

    INSERT INTO @Results
    SELECT
      CASE WHEN @UseSelectSyntax = 1
      THEN CASE WHEN @RowNo > 1 THEN N'UNION' + CASE WHEN @FormatCode = 1 THEN @CrLf ELSE N' ' END ELSE N'' END
      ELSE CASE WHEN @RowNo > 1 THEN N',' ELSE N' ' END END
      + @TableRow;

    FETCH NEXT FROM DataCursor INTO @TableRow;
  END

  CLOSE DataCursor;
  DEALLOCATE DataCursor;

  IF @GenerateStatementTerminator = 1
  BEGIN
    INSERT INTO @Results
    SELECT N';';
  END

  IF @GenerateGo = 1
  BEGIN
    INSERT INTO @Results
    SELECT N'GO';
  END
END

IF @PopulateIdentityColumn = 1
BEGIN
  INSERT INTO @Results
  SELECT N'SET IDENTITY_INSERT ' + COALESCE(@TargetObjectName,@ObjectName) + N' OFF'
END

IF @FormatCode = 1
BEGIN
  INSERT INTO @Results
  SELECT N''; -- An empty line at the end
END

IF @PrintGeneratedCode = 1
BEGIN
  DECLARE @LongRows bigint;
  SET @LongRows = (SELECT COUNT(*) FROM @Results WHERE LEN(TableRow) > 4000);

  IF @LongRows > 0
    AND @ShowWarnings = 1
  BEGIN
    PRINT(N'--*************************');
    IF @LongRows = 1
      PRINT(N'--WARNING: ' + CONVERT(nvarchar(max), @LongRows) + N' Row is very long and will be chopped at every 4000 character.')
    ELSE
      PRINT(N'--WARNING: ' + CONVERT(nvarchar(max), @LongRows) + N' Rows are very long and will be chopped at every 4000 character.');
    PRINT(N'-- If this is an issue then the workaround is to use @PrintGeneratedCode = 0 and output "Result to Grid" in SSMS.');
    PRINT(N'--*************************');
  END

  DECLARE ResultsCursor CURSOR LOCAL FAST_FORWARD FOR
  SELECT TableRow
  FROM @Results
  FOR READ ONLY
  ;
  OPEN ResultsCursor;
  FETCH NEXT FROM ResultsCursor INTO @TableRow;

  WHILE @@FETCH_STATUS = 0
  BEGIN
    -- The following code is a workaround because the PRINT(@TableRow) has limit of 4,000 Unicode characters,
    --   and longer strings are truncated.
    -- It still has a con, the lines are chopped at every 4000 character, however at least everything is printed out.
    -- http://stackoverflow.com/questions/7850477/how-to-print-varcharmax-using-print-statement
    -- The workaround would be to use @PrintGeneratedCode = 0 and output "Result to Grid" in SSMS.
    DECLARE @CurrentEnd bigint; -- track the length of the next sub-string
    DECLARE @Offset tinyint; -- tracks the amount of offset needed
    SET @TableRow = REPLACE(REPLACE(@TableRow, CHAR(13) + CHAR(10), CHAR(10)), CHAR(13), CHAR(10));

    WHILE LEN(@TableRow) > 1
    BEGIN
      IF CHARINDEX(CHAR(10), @TableRow) BETWEEN 1 AND 4000
      BEGIN
        SET @CurrentEnd = CHARINDEX(CHAR(10), @TableRow) - 1;
        SET @Offset = 2;
      END
      ELSE
      BEGIN
        SET @CurrentEnd = 4000;
        SET @Offset = 1;
      END

      PRINT(SUBSTRING(@TableRow, 1, @CurrentEnd));
      SET @TableRow = SUBSTRING(@TableRow, @CurrentEnd + @Offset, LEN(@TableRow))   
    END

    FETCH NEXT FROM ResultsCursor INTO @TableRow;
  END

  CLOSE ResultsCursor;
  DEALLOCATE ResultsCursor;
END ELSE BEGIN
  SELECT *
  FROM @Results;
END

END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetNextId] (@IdType int)
AS 
declare @nextId int = 0

UPDATE IdPool set @nextId = NextId, NextId = NextId + 1
where IdType = @IdType

RETURN @nextId
GO
