<ng-container [ngSwitch]="field.fieldType">
    <!-- Text field -->
    <mat-form-field *ngSwitchCase="'text'" appearance="outline" class="w-full">
      <mat-label>{{ field.displayName }} <span *ngIf="field.isRequired" class="text-red-500">*</span></mat-label>
      <input 
        matInput 
        [formControl]="control"
        [placeholder]="field.description || ''"
        [maxlength]="field.maxLength ?? null"
      >
      <mat-hint *ngIf="field.description">{{ field.description }}</mat-hint>
      <mat-error *ngIf="control.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  
    <!-- Textarea field -->
    <mat-form-field *ngSwitchCase="'textarea'" appearance="outline" class="w-full">
      <mat-label>{{ field.displayName }} <span *ngIf="field.isRequired" class="text-red-500">*</span></mat-label>
      <textarea 
        matInput 
        [formControl]="control" 
        [placeholder]="field.description || ''"
        [maxlength]="field.maxLength?? null"
        rows="3"
      ></textarea>
      <mat-hint *ngIf="field.description">{{ field.description }}</mat-hint>
      <mat-error *ngIf="control.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  
    <!-- Number field -->
    <mat-form-field *ngSwitchCase="'number'" appearance="outline" class="w-full">
      <mat-label>{{ field.displayName }} <span *ngIf="field.isRequired" class="text-red-500">*</span></mat-label>
      <input 
        matInput 
        type="number" 
        [formControl]="control"
        [placeholder]="field.description || ''"
        [min]="field.minValue?? 0"
        [max]="field.maxValue?? 99999999999999"
      >
      <mat-hint *ngIf="field.description">{{ field.description }}</mat-hint>
      <mat-error *ngIf="control.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  
    <!-- Date field -->
    <mat-form-field *ngSwitchCase="'date'" appearance="outline" class="w-full">
      <mat-label>{{ field.displayName }} <span *ngIf="field.isRequired" class="text-red-500">*</span></mat-label>
      <input 
        matInput 
        [matDatepicker]="picker" 
        [formControl]="control"
        [placeholder]="field.description || ''"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint *ngIf="field.description">{{ field.description }}</mat-hint>
      <mat-error *ngIf="control.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  
    <!-- Boolean field -->
    <div *ngSwitchCase="'boolean'" class="mb-4">
      <mat-checkbox [formControl]="control">
        {{ field.displayName }} <span *ngIf="field.isRequired" class="text-red-500">*</span>
      </mat-checkbox>
      <div *ngIf="field.description" class="mt-1 text-xs text-gray-500">
        {{ field.description }}
      </div>
    </div>
  
    <!-- Select field -->
    <mat-form-field *ngSwitchCase="'select'" appearance="outline" class="w-full">
      <mat-label>{{ field.displayName }} <span *ngIf="field.isRequired" class="text-red-500">*</span></mat-label>
      <mat-select [formControl]="control">
        <mat-option [value]="null">-- None --</mat-option>
        <mat-option *ngFor="let option of getOptions()" [value]="option.id">
          {{ option.displayText }}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="field.description">{{ field.description }}</mat-hint>
      <mat-error *ngIf="control.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  
    <!-- Multi-select field -->
    <div *ngSwitchCase="'multi-select'" class="mb-4">
      <div class="text-sm font-medium mb-2">
        {{ field.displayName }} <span *ngIf="field.isRequired" class="text-red-500">*</span>
      </div>
      <div class="flex flex-wrap gap-2 mb-2">
        <mat-chip-option 
          *ngFor="let option of getOptions()" 
          [selected]="isOptionSelected(option.id)"
          (click)="toggleOption(option.id)"
          color="primary"
        >
          {{ option.displayText }}
        </mat-chip-option>
      </div>
      <div *ngIf="field.description" class="text-xs text-gray-500">
        {{ field.description }}
      </div>
    </div>
  
    <!-- General Code field -->
    <mat-form-field *ngSwitchCase="'general-code'" appearance="outline" class="w-full">
      <mat-label>{{ field.displayName }} <span *ngIf="field.isRequired" class="text-red-500">*</span></mat-label>
      <mat-select [formControl]="control">
        <mat-option [value]="null">-- None --</mat-option>
        <mat-option *ngIf="isLoadingGeneralCodes" disabled>Loading options...</mat-option>
        <mat-option *ngFor="let code of generalCodes" [value]="code.codeNumber">
          {{ code.codeShortDescription }}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="field.description">{{ field.description }}</mat-hint>
      <mat-error *ngIf="control.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  </ng-container>