<mat-sidenav-container class="h-screen" *transloco="let t">
  <!-- Side Navigation -->
  <mat-sidenav #sidenav 
  position="start" 
  [opened]="isSidenavOpen" 
  [mode]="'side'" 
  class="w-64 bg-white shadow-lg">
      <div class="p-4 border-b">
      <h1 class="text-xl font-bold text-gray-800">LeadManager Pro</h1>
    </div>
    
    <mat-nav-list class="p-2">
      <a mat-list-item
         *ngFor="let item of menuItems"
         [routerLink]="[item.route]"
         routerLinkActive="bg-blue-50 text-blue-600">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ t(item.label) }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="flex flex-col">
    <app-header [showMenuToggle]="true" (menuToggle)="toggleSidenav()"></app-header>
    
    <div class="flex-1 overflow-auto bg-gray-100">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>